ion-content{
    --background: #F2A359;
}

@-webkit-keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-800px);transform:translateZ(-800px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(0);filter:blur(0);opacity:1}}
@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
@-webkit-keyframes blur-out-expand{0%{-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:1em;-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}@keyframes blur-out-expand{0%{-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:1em;-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}
@-webkit-keyframes blur-out-contract{0%{-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:-.5em;-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}@keyframes blur-out-contract{0%{-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:-.5em;-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}
@-webkit-keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}@keyframes rotate-scale-up{0%{-webkit-transform:scale(1) rotateZ(0);transform:scale(1) rotateZ(0)}50%{-webkit-transform:scale(2) rotateZ(180deg);transform:scale(2) rotateZ(180deg)}100%{-webkit-transform:scale(1) rotateZ(360deg);transform:scale(1) rotateZ(360deg)}}

.container{
    height: 100vh;
}

h3{
    font-weight: bold;
    color: white;
}

img{      
    -webkit-animation: rotate-scale-up 7s linear both;animation:rotate-scale-up 4s linear both;
    height: 100px;    
}

.name-lastname{
    -webkit-animation:focus-in-expand-fwd 7s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand-fwd 4s cubic-bezier(.25,.46,.45,.94) both;
}

.division{
    -webkit-animation:tracking-in-contract-bck 7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck 4s cubic-bezier(.215,.61,.355,1.000) both;   
}