<div class="container-fluid m-0 pt-3 p-0 " color="success">
  <!-- <h1 style="margin: 0; text-align: center; font-weight: bold;">Relevamiento Visual</h1> -->
  <div class="imagen" style="margin: 1px;">
    <img src="assets/icon.png" alt="Imagen no disponible">
  </div>
  <ion-card class="sombra " color="tertiary">
    <ion-card-header>
      <ion-card-title class="ion-text-center font-title-custom">Complete sus datos para ingresar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--USUARIO-->
      <div class="margin-custom">
        <ion-label class="ion-text-start bold font-input-custom">Ingrese su correo electrónico:</ion-label>
        <ion-item>
          <ion-input color="dark" type="text" placeholder="correo electrónico" #mail
            (ionInput)="validadCampoVacio(mail)" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <div class="font-error-custom error-message-height">
          <p>{{mensajeEmail}}</p>
        </div>
      </div>
      <!--CONTRASEÑA-->
      <div class="margin-custom">
        <ion-label class="ion-text-start bold font-input-custom">Ingrese su contraseña:</ion-label>
        <ion-item>
          <ion-input color="dark" type="password" placeholder="contraseña" #pass (ionInput)="validadCampoVacio(pass)"
            [(ngModel)]="password"></ion-input>
        </ion-item>
        <div class="font-error-custom error-message-height">
          <p>{{mensajePass}}</p>
        </div>
      </div>
      <!--CENTRADO UNO CON GRILLAS-->
      <!--BOTON INGRESAR-->
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button color="success" fill="solid" type="ion-button" (click)="login()" shape="round" id="btn-send">
              <ion-title class="font-login-custom">Iniciar Sesión</ion-title>
              <ion-icon slot="end" size="large" name="log-in"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="font-error-custom error-message-height">
        <p>{{mensajeError}}</p>
      </div>
      <!--SUGERENCIA-->
      <!-- <ion-label>¿No posee una cuenta? <span class="d-block">Regístrese <a href="/registro">AQUÍ</a></span></ion-label>  -->
    </ion-card-content>
  </ion-card>

  <!--boton flotante-->
  <!-- <ion-content>
  <ion-fab vertical="top" horizontal="end">
    <ion-button>
      <ion-title>Usuario 1</ion-title>
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-fab>
</ion-content> -->

  <!--CENTRADO DE BOTONES CON BLOCK o FULL (ocupa todo el ancho)-->
  <div>
    <!--BOTON 1-->
    <ion-button expand="block" color="medium" fill="solid" type="Button" shape="round" id="btn-usuarioUno"
      (click)="cargarUsuario(0)">
      <ion-title class="font-login-custom">Usuario 1</ion-title>
      <ion-icon slot="start" size="large" name="person-circle"></ion-icon>
    </ion-button>
    <!--BOTON 2-->
    <ion-button expand="full" color="medium" fill="solid" type="Button" shape="round" id="btn-usuarioDos"
      (click)="cargarUsuario(1)">
      <ion-title class="font-login-custom">Usuario 2</ion-title>
      <ion-icon slot="start" size="large" name="person-circle"></ion-icon>
    </ion-button>
    <!--BOTON 3-->
    <ion-button expand="block" color="medium" fill="solid" type="Button" shape="round" id="btn-usuarioTres"
      (click)="cargarUsuario(2)">
      <ion-title class="font-login-custom">Usuario 3</ion-title>
      <ion-icon slot="start" size="large" name="person-circle"></ion-icon>
    </ion-button>
  </div>
</div>