#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logout{
  height: 40px !important;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.container {
  margin: auto;
}

ion-fab-button img {
  width: 60px;
  height: 60px;
}

ion-fab {
  display: flex;
  flex-direction: row;
  margin: 0px !important;
  top: 2px !important;
  ion-fab-button {
    --border-radius: 0px !important;
    //background-color: red; //CAMBIA EL COLOR DEL BOTON
    --background: rgb(255, 255, 255) !important; //CAMBIA EL COLOR DEL ELEMENTO CENTRAL (adentro del boton del ion-fab-button)
    //background-image: url("/assets/idioma/Usa.png");

    margin: 0px 3px !important;
  }
}

.boton {
  height: 87vh !important;
  width: 19.15vw !important;
  margin: 3px;
  //--background: rgb(199, 157, 180) !important;
}

// ion-fab-button{
//   margin-top: 40px !important;
// }

img{
  height: auto;
  width: 100%;
}
ion-fab {}

.temas {}

@media screen and (max-width: 739px) {
  .boton {
    width: 98vw !important;
    height: 18vh !important;
    margin: 3px;
  }

  // ion-fab-button{
  //   margin: 10px !important;
  // }
  img{
    height: 100%;
    width: auto;
  }

  ion-fab {
    display: flex;
    flex-direction: column;
    top: 10px !important;
    ion-fab-button {
  margin: 3px 3px !important;
    }
  }
}